body {
  margin: 0px;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: .875rem;
}
.page {
  width: 100vw;
  height: 100vh;
  background:rgb(221, 220, 253);
  text-align: center;
  display: table-cell;
  vertical-align: middle;     
}

/* Auth Page */
.logo {
  font-size: 32px; 
  padding-bottom: 12px;
}
.text {
  padding-bottom: 2.5rem;
  font-size:3.6rem;
  color:#1034d5;
  font-weight:700;
}
.text-middle {
  padding-bottom: 5rem;
  font-size:1.6rem;
}

.button {
  background-color: #1034d5;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: .875rem;
  border-radius: .25rem;
  cursor: pointer;
  margin-top:3rem;
  margin-right:1rem;
}
.button:hover {
  background-color: #0a0b0b;
  transition: 1s ease;
}

.ce-chat-list{
  background-color: rgb(27 28 32) !important;
  overflow:hidden !important;
  overflow-y:scroll;
}

.ce-chat-feed{
  background-color: rgb(27 28 32) !important;
}

.ce-message-file{
  background-color: #292b34 !important;
}

.ce-message-list{
  overflow:hidden !important;
  background-color:transparent;
}